header {
    @extend .fixed-top;
    width: 100%;
    &.expanded {
        background-color: $color-lightblue;
    }
    nav {
        @extend .container;
        margin: 25px 16px!important;
        & > * {
            width: 100%;
        }
    }
    div {
        @include flex(between, center);
        a::before {
            @include icon(-618px, -22px, 650px);
            content: '';
            display: inline-block;
            height: 41px;
            width: 34px;
            vertical-align: middle;
        }
    }
    figure {
        @include icon(4px, 0, 302px);
        display: none;
        width: 42px;
        height: 41px;
    }
    span {
        @extend .d-none, .d-sm-inline;
    }
    button {
        @extend .d-sm-none;
        background-color: transparent;
        &::before {
            @include font(20px);
            color: $color-gray;
            content: '☰';
        }
    }
    ul {
        @extend .d-sm-flex;
        margin-top: 12px;
        text-transform: uppercase;
    }
    li:not(:last-child) {
        margin-bottom: 12px;
    }
    a {
        @include font(14px, bold);
        display: block;
    }
    .active {
        color: $color-orange;
    }
    @include media-breakpoint-up(sm){
        nav {
            flex-direction: row!important;
            justify-content: space-between!important;
            & > * {
                width: auto;
            }
        }
        div {
            order: 2;
            a::before {
                background: transparent;
                content: '';
                height: 0;
                width: 0;
            }
        }
        figure {
            display: none!important;
        }
        ul {
            margin: 0;
        }
        li {
            margin-right: 25px;
            margin-bottom: 0!important;
        }
    }
    @include media-breakpoint-only(sm){
        li {
            margin-right: 15px;
        }
    }
}